.child_see_item_details {
  padding-top: 10px;
  margin-top: 8px;
  border-top: 1px solid #e6e7e8;
  overflow: hidden;
}
.detail-pull-left{width: 50%;}
.detail-pull-right{width: 50%}
.detail-product-price-qty{margin-top: 15px;display: block}
.detail-product-price{font-weight: bold;display: block;}
.detail-variants{font-size: 9px; padding-top: 15px;}
.pull-left{float: left;}
.pull-right{float: right;}
