.container_estimated_total {
  margin-top: 8px;
  border-top: 1px solid #e6e7e8;
  overflow: hidden;
}
.tax-wrap{padding: 10px 20px 10px 20px}
.dispBlck{display: block;}
.space0{padding: 0px;margin: 0px;}
.fntBld{font-weight: bold;}
