.container_purchase_summary {
    border: 1px solid #e6e7e8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    //width: 200px;
    font-size: 11px;
    overflow: auto;
}
