.container_see_item_details {
  padding-top: 10px;
  margin-top: 8px;
  border-top: 1px solid #e6e7e8;
  overflow: hidden;
}

.btn-wrap-see-item-details{
  border: 0px;
  cursor: pointer;
  display: block;
  padding-left: 20px;
  .btn-caption{
    text-decoration:underline;
  }
  .btn-icon-show:before {
      content: "+";
      padding-left: 10px;
      font-size: 16px;
  }
  .btn-icon-hide:before {
      content: "-";
      padding-left: 10px;
      font-size: 16px;
  }
}
