.container_pickup_savings {
  padding-top: 10px;
  margin-top: 8px;
  border-top: 1px solid #e6e7e8;
  overflow: hidden;
}
.btn-wrap-pickup-savings{
    padding: 0px 0px 10px 0px;
    border: 0px;
    cursor: pointer;
}
.btn-wrap-pickup-savings{padding: 0px 20px 10px 20px;}
.pickSvng{text-decoration: underline;}
.picSvngNeg{color: #de1c24}
.tax-wrap{padding: 10px 20px 30px 20px;}
.subtotal-wrap{padding: 0px 20px 20px 20px}
.dispBlck{display: block;}
.space0>p{padding: 0px;margin: 0px;}
